html {
  text-align: center;
}

body {
  background-color: #bdcebe;
}
.gridContainer {
  margin-top: 25px;
  margin-right: 40px;
  display: inline-grid;
  grid-template-columns: repeat(16, 2fr);
  grid-template-rows: repeat(16, 2fr);
  border: 5px solid black;
  border-radius: 5px;
  height: 575px;
  width: 575px;
}

.cell {
  background-color: white;
  border: 1px black solid;
}

.coloured {
  background-color: grey;
  border: 1px solid black;
}

.header {
  font-size: 100px;
  color: #50394c;
}

.btn{
  height: 50px;
  width: 100px;
  margin: auto;
}

.textb {
  font-size 30px;

}
